<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <h1 class="logo h1">
    <a href="https://www.klbgroup.com">
      <img src="https://www.klbgroup.com/wp-content/uploads/2017/12/logo-6.png" a="">
    </a>
  </h1>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto"> 
      <li class="nav-item">
          <a class="nav-link active" routerLink="/credito">Financeiro</a>
        </li>
    </ul>
  </div>
</nav>

<!-- Page Content -->
<div class="container">

    <div class="row">
  
      <!-- /.col-lg-3 -->
  
      <div class="col-lg-9">
  
        <router-outlet></router-outlet>
        
        <!-- /.card -->
  
      </div>
      <!-- /.col-lg-9 -->
  
    </div>
  
  </div>
  <!-- /.container -->
  
  <!-- Footer -->
  <footer class="py-4 cor-srmasset" style="display: block; position: relative; width: 100%; clear: both;">
    <div class="container">
      <p class="m-0 text-center text-white">Daniele Leão Evangelista - SRM - 2018</p>
    </div>
    <!-- /.container -->
  </footer>