<br>
<p>
    <button (click)="zerarFormulario()" type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal"> <i class="fa ti-plus"></i> Novo Credito</button>
</p>



<!-- Tabela -->
<table class="table table-responsive">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Cliente</th>
        <th scope="col">Limite</th>
        <th scope="col">Taxa de Juros</th>
        <th scope="col">Tipo Risco</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of creditos">
        <th scope="row">{{c.id}}</th>
        <td>{{c.nome}}</td>
        <td>{{c.limiteCredito | currency: 'BRL'}}</td>
        <td>{{c.taxaJuros}}%</td>
        <td>{{c.tipoRisco}}</td>
        <td>
          <button data-toggle="modal" data-target="#myModal" class="btn btn-success btn-sm" (click)="editar(c)">Editar</button>
          <button class="btn btn-danger btn-sm" (click)="excluir(c)">Remover</button>
        </td>
      </tr>


    </tbody>
  </table>

<br>
<br>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog" style="    background-color: rgba(0, 0, 0, 0.3);">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Credito</h4>
        </div>
        <div class="modal-body">
          <form method="post" (ngSubmit)="save()" [formGroup]="formulario">
            <input type="hidden" formControlName="id">
            <div class="row">
              <div class="col-md-12">
                <label>Nome Cliente</label>
                <input type="text" class="col-md-12 border-input" formControlName="nome">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <label>Limite Credito</label>
                <input type="text" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" class="col-md-12 border-input" formControlName="limiteCredito">
              </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>Risco</label>
                    <select class="form-group col-md-12 border-input" formControlName="tipoRisco">
                      <option  *ngFor="let r of riscos" [value]="r" >{{ r }}</option>
                    </select>
                  </div>
            </div>
            <br>
            <div class="text-center">
              <button type="submit" class="btn btn-info btn-fill btn-wd">Salvar</button>
            </div>
            <div class="clearfix"></div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="closeModelEmpresa()" class="btn btn-default">Fechar</button>
        </div>
      </div>
    </div>
  </div>